---
layout: default
---

<!-- about.html -->
<div class="post">
  <header class="post-header">
    <h1 class="post-title">
      {% if site.title == "blank" -%} CIFAR-Helmholtz Workshop on {{ site.middle_name }}<br>
      <span class="font-weight-bold">AI Driven Discovery Systems in Science</span>{%- else -%}{{ site.title }}{%- endif %}
    </h1>
    <p class="desc"><b>{{ page.subtitle }}</b></p>
  </header>

  <article>

    <div class="workshop-section clearfix">
<p>
Modern AI systems for scientific discovery, autonomous experimentation, and lab-in-the-loop platforms
  increasingly operate in closed feedback loops: propose → evaluate → update → repeat.</p>

<p>Despite this iterative structure, most current systems remain architecturally static and are optimized for short-horizon, 
  one-shot performance rather than sustained, recursive improvement. Their update mechanisms are typically limited to parameter optimization 
  under fixed architectures, with little capacity for structural adaptation, memory consolidation, or strategy evolution. </p>

 <p>This workshop introduces a unifying perspective: Self-improving AI systems can be understood as instances of sequential experimental design 
   in which the object of experimentation is the system itself. AI-driven discovery is an ongoing dialogue between a system and its environment, 
   where the system progressively refines not only its hypotheses, but the mechanisms by which it generates them. </p>

<p>We aim to establish a shared conceptual framework for recursive scientific systems, systems that improve through sustained interaction with noisy, 
  expensive, real-world evaluators (e.g., wet labs, robotics platforms, or compute-constrained simulations).</p>


  <p>Key questions the workshop aims to address:</p>

      <ul>
        <li> Is structural plasticity necessary for sustained improvement?
 </li>
        <li> Can growth, pruning, and consolidation policies be formalized as experimental interventions?
 </li>
        <li> What role does evolution play alongside gradient-based optimization? </li>
        <li> Is open-endedness required for scientific discovery?
 </li>
        <li> How can recursive systems remain stable under noisy, sparse, expensive feedback? </li>
        <li>What lessons transfer between digital discovery (algorithms, models, code) and physical discovery (proteins, materials, robotics)?</li>
      </ul>

    <p>The workshop will be held at Villa Elisabeth in Berlin, Germany. </p>
    <p><a href=https://maps.app.goo.gl/Cau6UFttbbAqU3fq6>Directions to the Venue</a>.</p>

    <p>The workshop is made possible through the generous support of the Helmholtz Association and CIFAR, through the
  CIFAR MacMillan Multiscale Human program.</p>
    </div>

  <div class="workshop-section">
    <h3>Registration</h3>
    <p>Registration for the workshop is will open in late 2026.</p>
  </div>

    <div class="speakers">
       <h2>Confirmed Speakers</h2>
      <p class="card-text">
      </p>
      <div class="grid">
      
<div class="grid-item">
          <div class="card hoverable">



            <img src="{{ site.baseurl }}/assets/resized/MaxWelling_800.jpeg"
              srcset="    {{ site.baseurl }}/assets/resized/MaxWelling_480.jpeg 480w,    {{ site.baseurl }}/assets/resized/MaxWelling_800.jpeg 800w, {{ site.baseurl }}/assets/resized/MaxWelling_1400.jpeg 1400w">

            <div class="card-body">
              <h2 class="card-title">Max Welling</h2>
              <h6 class="card-text">Uni. Amsterdam & Cusp AI
                <div class="affiliate">


                  <a href="https://scholar.google.com/citations?user=8200InoAAAAJ&hl=en" title="GooleScholar" target="_blank"
                    rel="noopener noreferrer"><i class="ai ai-google-scholar"></i></a>

                    <a href="https://amlab.science.uva.nl/people/MaxWelling/" title="Website" target="_blank"
                    rel="noopener noreferrer"><i class="fas fa-address-card"></i></a>


                </div>
              </h6>
              <p class="card-text"></p>
            </div>
          </div>
        </div>
<div class="grid-item">
          <div class="card hoverable">



            <img src="{{ site.baseurl }}/assets/resized/Cho_Kyunghyun_800.jpeg"
              srcset="    {{ site.baseurl }}/assets/resized/Cho_Kyunghyun_480.jpeg 480w,    {{ site.baseurl }}/assets/resized/Cho_Kyunghyun_800.jpeg 800w, {{ site.baseurl }}/assets/resized/Cho_Kyunghyun_1400.jpeg 1400w">

            <div class="card-body">
              <h2 class="card-title">Kyunghyun Cho</h2>
              <h6 class="card-text">NYU
                <div class="affiliate">


                  <a href="https://scholar.google.co.uk/citations?user=0RAmmIAAAAAJ&hl=en" title="GooleScholar" target="_blank"
                    rel="noopener noreferrer"><i class="ai ai-google-scholar"></i></a>

                    <a href="https://kyunghyuncho.me/" title="Website" target="_blank"
                    rel="noopener noreferrer"><i class="fas fa-address-card"></i></a>


                </div>
              </h6>
              <p class="card-text"></p>
            </div>
          </div>
        </div>
        <div class="grid-item">
          <div class="card hoverable">



            <img src="{{ site.baseurl }}/assets/resized/MariaBrbic_800.jpeg"
              srcset="    {{ site.baseurl }}/assets/resized/MariaBrbic_480.jpeg 480w,    {{ site.baseurl }}/assets/resized/MariaBrbic_800.jpeg 800w, {{ site.baseurl }}/assets/resized/MariaBrbic_1400.jpeg 1400w">

            <div class="card-body">
              <h2 class="card-title">Maria Brbić</h2>
              <h6 class="card-text"> EPFL
                <div class="affiliate">


                  <a href="https://scholar.google.com/citations?user=ltxmeroAAAAJ&hl=en" title="GooleScholar" target="_blank"
                    rel="noopener noreferrer"><i class="ai ai-google-scholar"></i></a>

                    <a href="https://people.epfl.ch/maria.brbic?lang=en" title="Website" target="_blank"
                    rel="noopener noreferrer"><i class="fas fa-address-card"></i></a>


                </div>
              </h6>
              <p class="card-text"></p>
            </div>
          </div>
        </div>
        <div class="grid-item">
          <div class="card hoverable">



            <img src="{{ site.baseurl }}/assets/resized/BernhardSchoe_800.jpeg"
              srcset="    {{ site.baseurl }}/assets/resized/BernhardSchoe_480.jpeg 480w,    {{ site.baseurl }}/assets/resized/BernhardSchoe_800.jpeg 800w, {{ site.baseurl }}/assets/resized/BernhardSchoe_1400.jpeg 1400w">

            <div class="card-body">
              <h2 class="card-title">Bernhard Schölkopf</h2>
              <h6 class="card-text"> MPI & ELLIS Tübingen 
                <div class="affiliate">


                  <a href="https://scholar.google.com/citations?user=DZ-fHPgAAAAJ&hl=en" title="GooleScholar" target="_blank"
                    rel="noopener noreferrer"><i class="ai ai-google-scholar"></i></a>

                    <a href="https://is.mpg.de/en/~bs" title="Website" target="_blank"
                    rel="noopener noreferrer"><i class="fas fa-address-card"></i></a>


                </div>
              </h6>
              <p class="card-text"></p>
            </div>
          </div>
        </div>
        </div>
      </div>
    



    <div class="speakers">
      <h2>Organizers</h2>

      <div class="container">
        <div class="row row-cols-2">

          <div class="card-item col">
            <div class="card">
              <div class="row g-0">
                <div class="card-img col-md-6">


                  <img src="{{ site.baseurl }}/assets/resized/syrine_480.jpeg"
                    srcset="{{ site.baseurl }}/assets/resized/syrine_480.jpeg 480w, {{ site.baseurl }}/assets/resized/syrine_800.jpeg 800w, {{ site.baseurl }}/assets/resized/syrine_1400.jpeg 1400w">

                </div>
                <div class="col-md-6">
                  <div class="card-body">
                    <h4 class="card-title">Syrine Belakaria
                    </h4>

                    <h6 class="card-text">Microsoft Research
                    </h6>

                    <div class="row ml-1 mr-1 p-0">


                       
                      <div class="google-scholar-icon">
                        <div class="icon" data-toggle="tooltip" title="Goole Scholar">
                          <a href="https://scholar.google.com/citations?hl=en&user=9NNlVb8AAAAJ" title="GooleScholar"
                            target="_blank" rel="noopener noreferrer"><i class="ai ai-google-scholar"></i></a>
                        </div>
                      </div>


                       
                      <div class="website-icon">
                        <div class="icon" data-toggle="tooltip" title="Website">
                          <a href="https://www.sbelakaria.com//" title="Website" target="_blank"
                            rel="noopener noreferrer"><i class="fas fa-address-card"></i></a>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <div class="card-item col">
            <div class="card">
              <div class="row g-0">
                <div class="card-img col-md-6">



                  <img src="{{ site.baseurl }}/assets/resized/yashas_480.jpeg"
                    srcset="{{ site.baseurl }}/assets/resized/yashas_480.jpeg 480w, {{ site.baseurl }}/assets/resized/yashas_800.jpeg 800w, {{ site.baseurl }}/assets/resized/yashas_1400.jpeg 1400w">
                </div>
                <div class="col-md-6">
                  <div class="card-body">
                    <h4 class="card-title">Yashas Annadani
                    </h4>

                    <h6 class="card-text">Gladstone Institutes
                    </h6>

                    <div class="row ml-1 mr-1 p-0">



                       
                      <div class="google-scholar-icon">
                        <div class="icon" data-toggle="tooltip" title="Goole Scholar">
                          <a href="https://scholar.google.com/citations?user=ExgzcVMAAAAJ&hl=en" title="GooleScholar"
                            target="_blank" rel="noopener noreferrer"><i class="ai ai-google-scholar"></i></a>
                        </div>
                      </div>


                       
                      <div class="website-icon">
                        <div class="icon" data-toggle="tooltip" title="Website">
                          <a href="https://yashasannadani.com/" title="Website" target="_blank" rel="noopener noreferrer"><i
                              class="fas fa-address-card"></i></a>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
<div class="card-item col">
            <div class="card">
              <div class="row g-0">
                <div class="card-img col-md-6">

                  <img src="{{ site.baseurl }}/assets/resized/Dagmar_480.jpeg"
                  srcset="{{ site.baseurl }}/assets/resized/Dagmar_480.jpeg 480w, {{ site.baseurl }}/assets/resized/Dagmar_800.jpeg 800w, {{ site.baseurl }}/assets/resized/Dagmar_1400.jpeg 1400w">

                </div>
                <div class="col-md-6">
                  <div class="card-body">
                    <h4 class="card-title">Dagmar Kainmüller
                    </h4>

                    <h6 class="card-text">Max-Delbrück-Centrum (MDC), Berlin
                    </h6>

                    <div class="row ml-1 mr-1 p-0">


                       
                      <div class="google-scholar-icon">
                        <div class="icon" data-toggle="tooltip" title="Goole Scholar">
                          <a href="https://scholar.google.com/citations?user=mg0LpUwAAAAJ&hl=en" title="GooleScholar"
                            target="_blank" rel="noopener noreferrer"><i class="ai ai-google-scholar"></i></a>
                        </div>
                      </div>


                       
                      <div class="website-icon">
                        <div class="icon" data-toggle="tooltip" title="Website">
                          <a href="https://www.mdc-berlin.de/de/person/dr-dagmar-kainmuller" title="Website" target="_blank"
                            rel="noopener noreferrer"><i class="fas fa-address-card"></i></a>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          <div class="card-item col">
            <div class="card">
              <div class="row g-0">
                <div class="card-img col-md-6">

                  <img src="{{ site.baseurl }}/assets/resized/eirini_480.jpeg"
                  srcset="{{ site.baseurl }}/assets/resized/eirini_480.jpeg 480w, {{ site.baseurl }}/assets/resized/eirini_800.jpeg 800w, {{ site.baseurl }}/assets/resized/eirini_1400.jpeg 1400w">

                </div>
                <div class="col-md-6">
                  <div class="card-body">
                    <h4 class="card-title">Eirini Kouskoumvekaki
                    </h4>

                    <h6 class="card-text">Max-Delbrück-Centrum (MDC), Berlin
                    </h6>

                    <div class="row ml-1 mr-1 p-0">


                       
                      <div class="google-scholar-icon">
                        <div class="icon" data-toggle="tooltip" title="Goole Scholar">
                          <a href="https://www.mdc-berlin.de/person/pd-dr-eirini-kouskoumvekaki-0" title="GooleScholar"
                            target="_blank" rel="noopener noreferrer"><i class="ai ai-google-scholar"></i></a>
                        </div>
                      </div>


                       
                      <div class="website-icon">
                        <div class="icon" data-toggle="tooltip" title="Website">
                          <a href="https://www.mdc-berlin.de/person/pd-dr-eirini-kouskoumvekaki-0" title="Website" target="_blank"
                            rel="noopener noreferrer"><i class="fas fa-address-card"></i></a>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="card-item col">
            <div class="card">
              <div class="row g-0">
                <div class="card-img col-md-6">

                  <img src="{{ site.baseurl }}/assets/resized/azin_480.jpeg"
                  srcset="{{ site.baseurl }}/assets/resized/azin_480.jpeg 480w, {{ site.baseurl }}/assets/resized/azin_800.jpeg 800w, {{ site.baseurl }}/assets/resized/azin_1400.jpeg 1400w">

                </div>
                <div class="col-md-6">
                  <div class="card-body">
                    <h4 class="card-title">Azin Van Moorsel
                    </h4>

                    <h6 class="card-text">CIFAR
                    </h6>

                    <div class="row ml-1 mr-1 p-0">

                      <div class="website-icon">
                        <div class="icon" data-toggle="tooltip" title="Website">
                          <a href="https://cifar.ca/bios/azin-van-moorsel/" title="Website" target="_blank"
                            rel="noopener noreferrer"><i class="fas fa-address-card"></i></a>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="card-item col">
            <div class="card">
              <div class="row g-0">
                <div class="card-img col-md-6">

                  <img src="{{ site.baseurl }}/assets/resized/florian_480.jpeg"
                  srcset="{{ site.baseurl }}/assets/resized/florian_480.jpeg 480w, {{ site.baseurl }}/assets/resized/florian_800.jpeg 800w, {{ site.baseurl }}/assets/resized/florian_1400.jpeg 1400w">

                </div>
                <div class="col-md-6">
                  <div class="card-body">
                    <h4 class="card-title">Florian Grötsch
                    </h4>

                    <h6 class="card-text">Helmholtz Association
                    </h6>

                    <div class="row ml-1 mr-1 p-0">

                      <div class="website-icon">
                        <div class="icon" data-toggle="tooltip" title="Website">
                          <a href="https://www.helmholtz.de/en/about-us/who-we-are/head-office/research/" title="Website" target="_blank"
                            rel="noopener noreferrer"><i class="fas fa-address-card"></i></a>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="card-item col">
            <div class="card">
              <div class="row g-0">
                <div class="card-img col-md-6">

                  <img src="{{ site.baseurl }}/assets/resized/stefan-bauer_480.jpeg"
                  srcset="{{ site.baseurl }}/assets/resized/stefan-bauer_480.jpeg 480w, {{ site.baseurl }}/assets/resized/stefan-bauer_800.jpeg 800w, {{ site.baseurl }}/assets/resized/stefan-bauer_1400.jpeg 1400w">

                </div>
                <div class="col-md-6">
                  <div class="card-body">
                    <h4 class="card-title">Stefan Bauer
                    </h4>

                    <h6 class="card-text">Helmholtz Munich and TU Munich
                    </h6>

                    <div class="row ml-1 mr-1 p-0">


                       
                      <div class="google-scholar-icon">
                        <div class="icon" data-toggle="tooltip" title="Goole Scholar">
                          <a href="https://scholar.google.com/citations?user=O-oICE8AAAAJ&hl=en" title="GooleScholar"
                            target="_blank" rel="noopener noreferrer"><i class="ai ai-google-scholar"></i></a>
                        </div>
                      </div>


                       
                      <div class="website-icon">
                        <div class="icon" data-toggle="tooltip" title="Website">
                          <a href="https://www.professoren.tum.de/en/bauer-stefan" title="Website" target="_blank"
                            rel="noopener noreferrer"><i class="fas fa-address-card"></i></a>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>



          <div class="card-item col">
            <div class="card">
              <div class="row g-0">
                <div class="card-img col-md-6">



                  <img src="{{ site.baseurl }}/assets/img/barbara_480.jpeg"
                    srcset="{{ site.baseurl }}/assets/resized/barbara_480.jpeg 480w, {{ site.baseurl }}/assets/resized/barbara_800.jpeg 800w, {{ site.baseurl }}/assets/resized/barbara_1400.jpeg 1400w">

                </div>
                <div class="col-md-6">
                  <div class="card-body">
                    <h4 class="card-title">Barbara Engelhardt
                    </h4>

                    <h6 class="card-text">Stanford University and Gladstone Institutes
                    </h6>

                    <div class="row ml-1 mr-1 p-0">


                       
                      <div class="google-scholar-icon">
                        <div class="icon" data-toggle="tooltip" title="Goole Scholar">
                          <a href="https://scholar.google.com/citations?user=VEGtG7YAAAAJ&hl=en" title="GooleScholar"
                            target="_blank" rel="noopener noreferrer"><i class="ai ai-google-scholar"></i></a>
                        </div>
                      </div>


                       
                      <div class="website-icon">
                        <div class="icon" data-toggle="tooltip" title="Website">
                          <a href="https://profiles.stanford.edu/barbara-engelhardt" title="Website" target="_blank"
                            rel="noopener noreferrer"><i class="fas fa-address-card"></i></a>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="workshop-section supported-by">
      <h2>Supported by</h2>
      <a href="https://cifar.ca" target="_blank"><img src="{{ site.baseurl }}/assets/img/cifar-logo-rgb-colour.png" alt="CIFAR"></a>
      <a href="https://www.helmholtz.de/en/" target="_blank"><img class="logo-helmholtz" src="{{ site.baseurl }}/assets/img/helmholtz-logo.png" alt="Helmholtz Association"></a>
      <a href="https://www.helmholtz.de/en/artificial-intelligence/helmholtz-foundation-model-initiative/" target="_blank"><img src="{{ site.baseurl }}/assets/img/hfmi-logo.png" alt="Helmholtz Foundation Model Initiative"></a>
      <a href="https://www.hida.science/" target="_blank"><img src="{{ site.baseurl }}/assets/img/hida-logo.png" alt="Helmholtz Information and Data Science Academy"></a>
      <a href="https://www.mdc-berlin.de/" target="_blank"><img src="{{ site.baseurl }}/assets/img/mdc-logo.png" alt="Max Delbrück Center"></a>
    </div>

    <div class="workshop-section">
      <h3 class="post-title"><span class="font-weight-bold">Questions</span></h3>
      <p>Contact us at
      <a href="mailto:edai4science@gmail.com" target="_blank">edai4science@gmail.com</a>.</p>
    </div>

  </article>

</div>
